@use "components/fonts";
@import "font-awesome/css/font-awesome.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
    .custom-btn {
        @apply bg-[#BF2A6B] shadow-[0px_3px_6px_#00000029] rounded-[16px] sm:rounded-[5px] opacity-100 flex items-center justify-center space-x-2;
    }
    .custom-shadow {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
}
